
body{
    background-color: skyblue;
}

.inlineTest{
    background-color: white;
    height: 120px;
}
.inlineTest p{
    background-color: rgb(122, 129, 122);
    display: list-item;
    padding: 15px;
    margin-right:700px;
    margin-left: 500px;
}

.inlineTest span{
    background-color: rgb(80, 100, 158);
    color: white;
    padding: 10px;
    font-weight: bold;
}

