
body{
    background-color: skyblue;
}

.inlineTest{
    background-color: white;
    height: 120px;
}
.inlineTest p{
    background-color: rgb(122, 129, 122);
    display: list-item;
    padding: 15px;
    margin-right:700px;
    margin-left: 500px;
}



.flex-container{
    display: flex;
    background-color: blue;

}
.flex-container p{
    font-size: 30px;
    padding: 20px;
    margin: 10px;
    background-color: white;
}


